<fieldset>
    <select id="labor_type_{{cid}}" name="type" class="labor field type">
        <option value="1">Finishers</option>
        <option value="2">Supervisors</option>
        <option value="3">Forms crp</option>
        <option value="4">Laborers</option>
        <option value="5">Driver</option>
        <option value="6">Operator</option>
    </select>
</fieldset>
<fieldset>
        <input type="number" placeholder="Number" id="labor-number-{{cid}}" name="number" value="{{row.number}}" class="labor field number"></input>
        <input type="number" placeholder="Unit" id="labor-unit-{{cid}}" name="unit" value="{{row.unit}}" class="labor field unit"></input>
        <input type="number" placeholder="Rate" id="labor-rate-{{cid}}" name="rate" value="{{row.rate}}" class="labor field rate"></input>
</fieldset>
