<h3>{{title}}</h3>

<div id="component-help" class="well"></div>

<div class="{{routeType}} items"></div>

{{#if multiple}}
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <button class="{{routeType}} add btn btn-default form-control" data-type="{{routeType}}">
                <i class="fa fa-plus-circle"></i>
                Add another
            </button>
        </div>
    </div>
{{/if}}

<hr />
<div class="row">
    <div class="col-xs-12">
        <div class="text-info lead">
            {{routeType}} $<span class="{{routeType}} cost">0</span>
            <br />
            Subtotal $<span class="subtotal">0</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <button class="btn btn-primary job save ccma-navigate form-control" data-path="home" role="button">Save & Exit</button>
    </div>
    {{#if step.next}}
        <div class="col-xs-6">
            <button class="{{routeType}} btn btn-large form-control next ccma-navigate" data-path="{{step.next}}">Next</button>
        </div>
    {{/if}}
</div>
