<h3>{{title}}</h3>

<div class="{{type}} items"></div>
<div class="{{type}} cost"></div>

{{#if multiple}}
    <button class="{{type}} add" data-type="{{type}}">Add another</button>
{{/if}}

{{#if next}}
    <a class="{{type}} button next" href="#{{next}}">Next</a>
{{/if}}
