<div class="display">
    {{#each fields}}
        {{#unless displayEnd}}
            <div class="field {{../type}} {{name}}">{{displayLabel}}:
        {{/unless}}

        {{#if displayPrepend}}{{displayPrepend}}{{/if}}{{value}}{{#if displayAppend}}{{displayAppend}}{{/if}}

        {{#unless displayBegin}}
            </div>
        {{/unless}}
    {{/each}}
</div>
