{{#each fields}}
    {{#unless ./displayEnd}}
        <div class="field {{../type}} {{./name}}">{{./placeholder}}:
    {{/unless}}

    {{#if ./displayPrepend}}{{displayPrepend}}{{/if}}{{./value}}{{#if ./displayAppend}}{{displayAppend}}{{/if}}

    {{#unless ./displayBegin}}
        </div>
    {{/unless}}
{{/each}}
<div class="{{type}} text-info">
    Cost: $<span class="{{type}} cost">{{cost}}</span>
</div>
