<fieldset class="form-group">
    {{#each fields}}
        {{#if show}}
            <label for="{{./type}}_{{./name}}_{{../cid}}" class="lead ccma-lead">{{./label}}</label>
            {{#if fieldTypeSelect}}
                <select id="{{./type}}_{{./name}}_{{../cid}}" name="{{./name}}" class="field {{./type}} type form-control">
                    <option></option>
                    {{#each options}}
                        <option value="{{id}}">{{text}}</option>
                    {{/each}}
                </select>
                <br />
            {{else}}
                <input type="{{./type}}" id="{{../type}}-{{./name}}-{{../cid}}" name="{{./name}}" value="{{./value}}" class="field {{../type}} {{./name}} form-control"></input>
                <br />
            {{/if}}
        {{/if}}
    {{/each}}
</fieldset>

{{#if step.next}}
    <div class="row">
        <div class="col-xs-6 col-xs-offset-6">
            <button class="{{type}} btn btn-large form-control next ccma-navigate" data-path="{{step.next}}">Next</button>
        </div>
    </div>
{{/if}}
