<fieldset class="form-group">
  {{#each fields}}
    {{#if show}}
      <div>
        <label for="{{../../routeType}}-{{name}}-{{../../cid}}"
             class="lead">{{label}}</label>
        {{#if fieldHelp}}
          <span class="field-help" data-help="{{fieldHelpValue}}">
            <i class="fa fa-question-circle"></i>
          </span>
        {{/if}}
      </div>
      {{#if fieldTypeSelect}}
        <select id="{{../../../routeType}}-{{name}}-{{../../../cid}}"
            name="{{name}}"
            class="field {{fieldType}} type form-control{{#if hasSiblingField}} has-sibling-field{{/if}}"
            data-placeholder="{{placeholder}}">
          <option></option>
          {{#each options}}
            <option value="{{id}}">{{text}}</option>
          {{/each}}
        </select>
        {{#unless append}}
          <br />
        {{/unless}}
      {{else}}
        {{#if inputGroup}}
        <div class="input-group">
          {{#if inputGroupPrepend}}
            <span class="input-group-addon">{{inputGroupValue}}</span>
          {{/if}}
        {{/if}}
        <input type="{{fieldType}}"
             id="{{../../../routeType}}-{{name}}-{{../../../cid}}"
             name="{{name}}"
             placeholder="{{placeholder}}"
             value="{{value}}"
             class="field {{../../../routeType}} {{name}} form-control{{#if hasSiblingField}} has-sibling-field{{/if}}"/>
        {{#if inputGroup}}
          {{#if inputGroupAppend}}
            <span class="input-group-addon">{{{inputGroupValue}}}</span>
          {{/if}}
        </div>
        {{/if}}
      {{/if}}
      {{#if append}}
        {{{append}}}
      {{/if}}
    {{/if}}
  {{/each}}
</fieldset>

{{#if step.next}}
  <div class="row">
    <div class="col-xs-6 col-xs-offset-6">
      <button class="{{type}} btn btn-success next ccma-navigate form-control" data-path="{{step.next}}" role="button">Next</button>
    </div>
  </div>
{{/if}}
