<fieldset class="form-group">
    {{#each fields}}
        {{#if show}}
            {{#if fieldTypeSelect}}
                <select id="{{../../../routeType}}-{{name}}-{{../../../cid}}" name="{{name}}" class="field {{./fieldType}} type form-control" data-placeholder="{{placeholder}}">
                    <option></option>
                    {{#each options}}
                        <option value="{{id}}">{{text}}</option>
                    {{/each}}
                </select>
                {{#unless append}}
                    <br />
                {{/unless}}
            {{else}}
                <input type="{{fieldType}}" id="{{../../../routeType}}-{{name}}-{{../../../cid}}" name="{{name}}" placeholder="{{placeholder}}" value="{{value}}" class="field {{../../../routeType}} {{name}} form-control" {{#if mask}}data-mask="{{mask}}"{{/if}}></input>
            {{/if}}
            {{#if append}}
                {{{append}}}
            {{/if}}
        {{/if}}
    {{/each}}
</fieldset>

{{#if step}}
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-primary next ccma-navigate form-control" data-path="{{step.next}}" role="button">Next</button>
        </div>
    </div>
{{/if}}
