<h2>{{row.title}}</h2>

{{#each row}}
    <div class="field {{../routeType}} {{./name}} text-info"><strong>{{./text}}</strong>: {{./value}}</div>
{{/each}}

<div class="{{routeType}} text-success">
    <strong>Cost: $<span class="{{routeType}} cost">{{cost}}</span></strong>
</div>

<div class="job items panel-group"></div>

