<h2>{{row.title}}</h2>

{{#each row}}
    <div class="field {{../type}} {{./name}}">{{./text}}: {{./value}}</div>
{{/each}}

<div class="{{type}} text-success">
    Cost: $<span class="{{type}} cost">{{cost}}</span>
</div>

<div class="job items"></div>

