<div id="labor_subdiv_{{row}}" class="form subdiv labor">
    <fieldset>
        <select>
            <option value="1">Finishers</option>
            <option value="2">Supervisors</option>
            <option value="3">Forms crp</option>
            <option value="4">Laborers</option>
            <option value="5">Driver</option>
            <option value="6">Operator</option>
        </select>
    </fieldset>
    <fieldset>
            <input placeholder="Number" id="labor_number_{{row}}" type="number" value="{{labor.number}}"></input>
            <input placeholder="Unit" id="labor_unit_{{row}}" type="number" value="{{labor.unit}}"></input>
            <input placeholder="Rate" id="labor_rate_{{row}}" type="number" value="{{labor.rate}}"></input>
    </fieldset>        
</div>
