<h4>{{title}}</h4>

<fieldset class="form-group col-xs-12">
    <label for="job_type_{{cid}}">Select a job type</label>
    <select id="job_type_{{cid}}" name="type" class="field job type form-control">
        {{#each types}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
</fieldset>

{{#if step}}
    <button class="btn btn-primary next ccma-navigate" data-path="{{step.next}}">Next</a>
{{/if}}
