<h3>{{title}}</h3>

<fieldset>
    <label>Select a job type</label>
    <select id="job_type_{{cid}}" name="type" class="field job type">
        {{#each types}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
</fieldset>

{{#if next}}
    <a class="button next" href="#{{next}}">Next</a>
{{/if}}
